nav {
  display: flex;
  justify-content: center;

  margin: 20px;
  padding: 20px;
}
.navlink {
  background-color: white;
  color: black;
  padding: 17px 40px;
  text-decoration: none;
  box-shadow: 3px 3px 3px lightgray;
}
.active {
  background-color: lightblue;
}
.navlink:hover {
  background-color: rgb(101, 101, 197);
  color: aliceblue;
}
